<!DOCTYPE html>
<html lang="en">
<head>
    <title>Smoke -h</title>
</head>
<body>
  <div id="root">
    <span id="candybar"><h1>Smoke -h</h1></span>
  </div>
  <script src="/candybar-bundle.js" charset="utf-8"></script>
  <script src="/vendor-bundle.js" charset="utf-8"></script>
</body>
</html>
